<header class="primary-header">
  <div class="container">
    <a href="#">
      <img src="assets/logo.png" alt="App Logo">
    </a>
    <nav class="primary-navigation">
      <ul role="list" class="nav-list">
        <li><a href="#">Adopt a pet</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">Pet resoruces</a></li>
        <li><a href="#">Shop</a></li>
      </ul>
    </nav>
    <button class="button">Get Started</button>
  </div>
</header>

<main>
  <section>
    <div class="container">
      <div class="even-columns">
        <div>
          <h1 class="fs-primary-heading fw-bold">
            Ready to adopt a pet?
          </h1>
          <p> Thousands of dogs and cats across the country
            are up for adoption and are eagerly waiting for their
            forever homes and families.</p>
          <button class="button">Get Started</button>
        </div>
        <div>
          <img src="assets/dog-banner-img.jpg" alt="top banner img">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="even-columns">
        <div>
          <h2 class="fs-secondary-heading fw-bold">
            How it works
          </h2>
          <p>
            Take the first step to providing a
            loving home to a pet in need and
            adopt a pet.Find the Perfect Pet
          </p>
        </div>
        <div>
          <ul class="numbered-items" role="list">
            <li>
              <h3 class="fs-600 fw-bold">
                Create a Pet Profile
              </h3>
              <p>
                Get your pets posted on Find-a-pet to be seen by millions of pet lovers.
              </p>
            </li>
            <li>
              <h3 class="fs-600 fw-bold">Review Applications</h3>
              <p>The dedicated team at Rehome will give you all the help you need to select the best potential adopters.
              </p>
            </li>
            <li>
              <h3 class="fs-600 fw-bold">Finalize Adoption</h3>
              <p>will provide you with an adoption contract to protect the transfer of your pet ownership.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="carousel">
    <h2 class="fs-secondary-heading">
      What they've said
    </h2>
    <!-- Carousel here -->
    <button class="button">Get Stated</button>
  </section>

  <section class="cta | bg-primary-400 text-neutral-100">
    <div class="container">
      <div class="even-columns">
        <div></div>
        <div></div>
        <p class="fs-secondary-heading fw-bold"></p>
      </div>
      <div>
        <button class="button" data-type="inverted">Get Started</button>
      </div>
    </div>
  </section>
</main>

<footer class="bg-neutral-900 text-neutral-100">
  <div class="container">
    <div class="even-columns">
      <div>
        <a href="#"><img src="assets/logo.svg" alt=""></a>
        <ul role="list">
          <li><a href="#" aria-label="facebook"></a></li>
          <li><a href="#" aria-label="youtube"></a></li>
          <li><a href="#" aria-label="twitter"></a></li>
          <li><a href="#" aria-label="pintrest"></a></li>
          <li><a href="#" aria-label="instagram"></a></li>
        </ul>
      </div>
      <div>
        <nav class="footer-nav">
          <ul aria-label="footer" role="list">
            <li><a href="">Home</a></li>
            <li><a href="">Pricing</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Private Policy</a></li>
          </ul>
        </nav>
      </div>
      <div>
        <form action="">
          <input type="email">
          <button class="button">Go</button>
          <p>Copyright 2020. All Rights Reserved.</p>
        </form>
      </div>
    </div>
  </div>
</footer>